<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <a href="<%= field.src %>">
    <img src="<%= field.src %>" alt="<%= field.attribute =>" />
  </a>
</div>
