<div class="hide-on-med-and-up">
  <p>
    This is an abbreviated report meant for mobile use.
    To see the full report, please generate it on a desktop.
  </p>
  
  <table>
    <thead>
      <tr>
        <th> Work Site  </th>
        <th> Volunteer  </th>
        <th> Action     </th>
      </tr>
    </thead>

    <tbody>
      <% @shift_events.each do |event| %>
        <tr class="mobile-entry">
          <td><%= event.address         %></td>
          <td><%= event.volunteer_name  %></td>
          <td><%= event.action          %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
