/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "lolliclock";

// colors
  $color-primary: #8BB6D1; // light blue
  $color-text: #005596; // dark blue
  $color-background: #fff; // white
  $color-accent: #6CC568; // green

#hidden {
  display: none;
}

body {
  background-color: $color-primary;
}

.container {
  margin-top: 0;
  padding: 1.5rem;
  background-color: $color-background;
  min-height: 100vh;
}

.Signature {
  &-pad {
    border: 1px solid $color-text;
    &-error {
      border: 2px solid red;
    }
  }
  &-button {
    background-color: $color-primary;
    &:hover {
      background-color: $color-accent;
    }
  }
  &-error {
    font-weight: 800;
    color: red;
  }
}
